<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Demo RFID</title>
    <script src="js/angular-1.4.0/angular.js"></script>
    <script src="js/controller.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap/css/jumbotron-narrow.css"/>
    <!--<script src="js/jquery-1.11.3.min.js"></script>-->
    <!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
    <!-- Optional theme -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
</head>
<body ng-app="rfidController">

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="index.html">Card Info</a></li>
                <li role="presentation"><a href="atm.html">ATM</a></li>
                <li role="presentation" class="active"><a href="bus.html">BUS</a></li>
                <li role="presentation"><a href="creditCard.html">CREDIT CARD</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">RFID</h3>
    </div>

    <div class="jumbotron">
        <h1>BUS</h1>

        <p class="lead" hidden="true">...</p>
    </div>

    <div class="main">

        <div ng-controller="FetchController" class="panel panel-default">
            <div class="panel-heading">Current Amount:</div>
            <div class="panel-body"><h3 class="text-center">{{data.amount}} {{data.status}}</h3></div>
            <div class="panel-body"><h6 class="text-center">{{data}}</h6></div>
            <div class="panel-footer clearfix">
                <div class="pull-left">
                    <a ng-click="getCardCurrentAmount()" class="btn btn-primary">GET</a>
                </div>
            </div>
        </div>

        <div ng-controller="FetchController" class="panel panel-default">
            <div class="panel-heading">Pay:</div>
            <div class="panel-body">
                <div class="clearfix">
                    <label>Number of tickets</label>
                    <input type="number" ng-model="numberOfTickets" required class="form-control" maxlength="3"
                           placeholder="Tickets">
                </div>
                <h5 class="text-center">{{data.status}}</h5>
                <h4 class="text-center">{{data.error}}</h4>
                <h4 class="text-center">{{data.left}}</h4>
                <h4 class="text-center">{{data.time}}</h4>
                <h6 class="text-center">{{data}}</h6>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-left">
                    <a ng-click="payTax()" class="btn btn-primary">POST</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; Cebanu Ghenadie 2015</p>
    </footer>

</div>
<!-- /container -->

</body>
</html>